@use "~bootstrap/scss/bootstrap"; 
@use '~@fortawesome/fontawesome-free/scss/fontawesome';

.pagination {
  justify-content: center;
}

.message {
  background-color: #ffffcc;
}

.other-message {
  background-color: #f8f9fa;
}

